<!DOCTYPE html>
<html lang="en">
<style>
html{
      background-color:seagreen; 
   }
  #headings{
    text-align: center;
    color:black;
    font-size: 30px;
    font-family: sans-serif;
    background-color:seagreen;
    padding: 10px;
    border-radius: 50px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
}
 h1{ 
    text-align: center;
    color:black;
    font-size: 30px;
    font-style: italic;
}
</style>
<head>
  <title>Registration Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
   <body>
              <h1 id="headings">New user</h1>
            <h1>REGISTER NEW USER</h1>
            <h1 id="headings">Registration </h1>
    <form action="{{url_for('register')}}" method="POST">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="email" type="text" class="form-control" name="email" placeholder="email">
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="password" type="password" class="form-control" name="password" placeholder="password">

       <button type="submit" style="background-color:pink;
         margin-left:auto;
         margin-right:auto;display:block;">
        submit
      </button>

     <button type="submit" class="btn btn-secondary btn-lg" formaction="/auth">Login</button>

    </div>
    <br>
    </form>
  <br>
         
        
       

    </body>
</html>